@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

:root {
  --background: #fdfbf7;
  /* Parchment */
  --foreground: #1c1917;
  /* Stone-900 */
  --emerald-900: #064e3b;
  --gold: #d4af37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-emerald-deep: var(--emerald-900);
  --color-gold-premium: var(--gold);

  --font-serif: "Merriweather", serif;
  --font-arabic: "Amiri", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  background-image:
    radial-gradient(circle at 2px 2px, rgba(0, 0, 0, 0.02) 1px, transparent 0);
  background-size: 40px 40px;
}

.arabic-text {
  font-family: var(--font-arabic);
}